h1 {
    padding: 20px;
    margin: 20px;
    background-color: darksalmon
}
p {
    padding: 20px;
    margin: 20px;
    background-color: gainsboro
}

button {
    padding: 20px;
    margin: 20px;
    background-color: burlywood;
}

li {
    padding: 20px;
    margin: 20px;
    background-color: darkgray;
    font-size: 1.4em;
}
li.highlight {
    background-color:darkblue;
    color: darkgoldenrod
    
}

h2 {
    padding: 20px;
    margin: 20px;
}
form {
    padding: 20px;
    margin: 20px;
}
